body{
    background-color: #E5EBF1;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0 auto;
}
/* Lenyíló menü*/
nav{
    width: 100px;
    height: 50px;
    margin-right: 20px;
    float: right;
    position: relative;
    font-family: arial,verdana, tahoma, georgia;
    font-size: 18px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    font-weight: bold;
}
.sub-menu-wrap.open-menu{
    max-height: 300px;
}
.sub-menu{
    background-color: lightgrey;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.user-info h3{
    font-weight: 500;
}
.user-pic{
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 0px 0;
    padding: 0%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.sub-menu-link p{
    width: 100%;
    margin-left: 3px;   
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    padding: 8px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
    margin-right: 5px;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
    transform: translateX(5px);
    transition: 0.5s;
}
.sub-menu-1{
    display: none;
}
.head ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #525356;
    margin-top: 15px;
    margin-left: -15px;
}
.header ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.header ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
/*Felugró ablak*/
.bg-modul{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7) ;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.modul-content{
    width:800px;
    height:295px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
/*Regisztráció/Belépés*/
#regisztraciofelirat{
    font-size: 20;
    text-align: left;
    margin-right: 400px;
    margin-top: 50px;
}
.regisztraciofelirat{
    width: 800px;
    background-color: rgb(0, 0, 0,0.6);
    margin:auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    border-left: 100px;
}
.bejelentkezesfelirat{
    width: 700px;
    background-color: rgb(0, 0, 0,0.6);
    margin:auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    border-left: 100px;
}
#h1{
    margin-top: 15px;
    margin-right: 325px;
}
#h1_2{
    margin-top: 15px;
    margin-right: 250px;
}
.regisztracio{
    background-color: rgb(0, 0, 0,0.5);
    width: 800px;
    margin: auto;
    height: 617px;
}
.bejelentkezes{
    background-color: rgb(0, 0, 0,0.5);
    width: 700px;
    margin: auto;
    height: 285px;
}
form{
    padding: 10px;
}
#bejelentkezesbutton{
    margin-left: 200px;
}
#felhasználónév{
    top:-50px;
}
#jelszo{
    top:-50px;
}
#nev{
    width: 100%;
    height: 50px;
}
.nev{
    margin-left: 25px;
    margin-top: 20px;
    width: 125px;
    color:white;
    font-size: 18px;
    font-weight: 700;
}
.teljesnev{
    position: relative;
    left: 200px;
    top:-425px;
    width: 250px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.ceg{
    position: relative;
    left: 200px;
    top: -20px;
    line-height: 40px;
    width: 350px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.option{
    position: relative;
    left: 200px;
    top:-25px;
    line-height: 40px;
    width: 400px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}
.option option{
    font-size: 20px;
}
.email{
    position: relative;
    left: 200px;
    top:-23px;
    line-height: 40px;
    width: 355px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.szam{
    position: relative;
    left: 200px;
    top:15px;
    line-height: 40px;
    width: 330px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.kezdo{
    margin-left: 25px;
    color: white;
    font-size: 18px;
}
.szekhely{
    position: relative;
    left: 200px;
    top: 15px;
    line-height: 40px;
    width: 330px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.adoszam{
    position: relative;
    left: 200px;
    top: 15px;
    line-height: 40px;
    width: 330px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.cegjegyzekszam{
    position: relative;
    left: 200px;
    top:15px;
    line-height: 40px;
    width: 370px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.jelszo{
    position: relative;
    left: 200px;
    top:15px;
    line-height: 40px;
    width: 330px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
#nev-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 370px;
    top: -455px;
    color:red;
}
#ceg-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 480px;
    top:-53px;
    color:red;
}
#regisztracios-hiba{
    color: red;
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 310px;
    top:5px;
}
#email-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 450px;
    top:-53px;
    color:red;
}
#telefon-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 380px;
    top:-13px;
    color:red;
}
#szekhely-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 410px;
    top:-16px;
    color:red;
}
#adoszam-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 410px;
    top:-16px;
    color:red;
}
#cegjegyzekszam-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 463px;
    top:-16px;
    color:red;
}
#jelszo-hiba{
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
    left: 463px;
    top:-16px;
    color:red;
}
#code{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 60px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.area-code{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 200px;
    top: -30px;
}
.telefon-szam{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: 240px;
    top: -30px;
}
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    cursor: pointer;
    transition: 0.25px;
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom: 200px;
}
button:hover{
    background-color: #5390F5;
}
i{
    color: green;
}
/*Tervezés*/
#tervezesbutton{
    background-color: #666;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    padding: 20px 80px;
    outline: none;
    cursor: pointer;
    transition: 0.25px;
    margin-left: -30px;
    margin-top: 80px;
    margin-bottom: 200px;
    font-size: 40px;
    font-weight: bold;
}
#tervezesbutton:hover{
    background-color: gray;
}
#lepes_1{
    height:20px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}
#tervezesbutton a{
    color:#000;
    text-decoration: none;
    
}
#fejlecvalaszto{
    margin-top: 100px;
    margin-left: 50px;
    width: 500px;
}
.radio{
    display: inline-block;
    padding-right: 70px ;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 15px;
    color: black;
}
.radio input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
#szinvalaszto{
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 100px;
    margin-top: 140px;
    padding: 10px;
}
#fejlecszinvalaszto{
    font-size: 20px;
}
#select{
    margin-top: 20px;
}
#lepes_1_1{
    height:20px;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}
#menuvalaszto{
    margin-left: 20px;
    margin-top: 80px;
}
#lepes_2{
    height:20px;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}
#torzsvalaszto{
    margin-top: 100px;
    margin-left: 50px;
}
#lablecvalaszto{
    margin-top: 100px;
    margin-left: 50px;
}
#kosarba{
    background-color: #666;
    width: 150px;
    height: 45px;
    background-color: #666;
    margin-top: 20px;
    margin-left: 600px;
    border:2px solid #000;
    margin-bottom: 50px;
}
#kosarba a{
    text-decoration: none;
    color: white;
    margin-top: 0px;
    margin-left: 2px;
    margin-bottom: 2px;
}
/*Menü*/
#menu{
    font-family: arial,verdana, tahoma, georgia;
    font-size: 12px;
    margin-top: 0px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #666;
    border-right: 1px solid #000;
}
#menu li{
    float: left;
}
#menu li a{
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: large;
}
#menu li a:hover{
    background-color: #000;
    color: #fff;
}
.active, menu ul li:hover{
    background-color: #000;
}
/*h1,2,3,4,5,6*/
h1{
    text-align: right;
    margin-right: 170px;
    margin-bottom: 20px;
    margin-top: 0px;
}
h2{
    text-align: left;
    margin-left: 80px;
    font-size: 32px;
    font-weight: bold;
}
h3{
    margin-left: 550px;
    font-size: 28px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
/*Image*/
img{
    margin-top: 0px;
    margin-left: 50px;
}
/*div1,2,3,4,5,6,7*/
#div1{
    width: 800px;
    height: 150px;
    float: right;
    margin-right: 20px;
}
#div2{
    width: 400px;
    height: 300px;
    text-align:justify;
    margin: 0px;
}
#div3{
    width: 600px;
    height: 600px;
    margin-left: 30px;
    text-align:justify;
    margin-top: 50px;
    font-size: 22px;
    line-height: 150%;
}
#div4{
    width: 620px;
    height: 600px;
    margin-right: 0px;
    float: right;
    margin-top: 10px;
}
#div5{
    width: 1250px;
    height: 550px;
    margin-left: 90px;
}
#div6{
    width: 900px;
    height: 80px;
    float: right;
    margin-right: 20px;
}
#div7{
    width: 400px;
    height: 80px;
    text-align:justify;
    margin: 0px;
    margin-left: 20px;
}
#div8{
    width: 600px;
    height: 200px;
    margin-left: 450px;
    text-align:justify;
    margin-bottom: 200px;
    margin-top: 50px;
    font-size: 22px;
    line-height: 150%;
    font-size: 50px;
}
#div9{
    width: 600px;
    height: 200px;
    margin-left: 450px;
    text-align:justify;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 22px;
    line-height: 150%;
    font-size: 50px;
}
#div10{
    height: 700px;
}
#div11{
    height: auto;
}
#div12{
    height: 450px;
    margin-left: 30px;
}
/*Insta, Face*/
#instaface{
    list-style: none;
    float: right;
    margin-top: 35px;
    text-align: left;
    padding-left: 0px;
    margin-right: 40px;
 }
#instaface li{
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#insta:hover{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
#face:hover{
    margin-top: 10px ;
}
/*Referencia oldal referencia*/
#referencia1{
    width: 1250px;
    height: 550px;
    margin-left: 30px;
    margin-top: 100px;
}
/*Kosár*/
#kosar{
    margin-left: 45px;
    font-size: 40px;
}
#kosartartalom{
    width: 700px;
    height: 100px;
    background-color: lightgrey;
    margin-left: 45px;
    border:2px solid #000;
}
#tervszam{
    margin-top: 5px;
    margin-left: 15px;
    width: 200px;
    height: 30px;
}
#statusz{
    margin-top: 5px;
    margin-left: 220px;
    width: 130px;
    height: 30px;
    float: right;
    margin-top: 30px;
    margin-left: 10px;
}
#tervar{
    float: right;
    width: 140px;
    height: 30px;
    margin-top: 5px;
}
#eltavolit{
    margin-top: 30px;
    margin-left: 15px;
}
#datum{
    margin-top: 30px;
    margin-left: 15px;
}
#sikeresdatum{
    margin-top: 30px;
    margin-right: 0px;
}
/*Fizetes*/
#fizetes{
    background-color: #666;
    width: 250px;
    height: 35px;
    background-color: #666;
    margin-top: 20px;
    margin-left: 280px;
    border:2px solid #000;
}
#fizetes:hover{
    background-color: gray;
 }
 #fizetes a{
     text-decoration: none;
     color: white;
     font-size: 30px;
 }
#fizetes_megrendeles{
    background-color: #666;
    width: 165px;
    height: 35px;
    background-color: #666;
    margin-top: 20px;
    margin-left: 280px;
    border:2px solid #000;
}
#fizetes_megrendeles:hover{
    background-color: gray;
 }
 #fizetes_megrendeles a{
     text-decoration: none;
     color: white;
     font-size: 30px;
 }
#fizetesgomb{
    color:white;
    margin-left: 5px;
    margin-top: 2px;
}
#fizetesszoveg{
    width: 755px;
    height: 200px;
    margin-left: 40px;
    font-size: 22px;
    text-align: justify;
}
#fizetesgombszoveg{
    margin-left: 6px;
}
#rendelesgomb{
    font-size: 40px;
    margin-left: 6px;
}
#megrendelesgombszove{
    margin-left: 6px;
}
/*Rendeles*/
#rendeles{
    background-color: #666;
    width: 220px;
    height: 40px;
    background-color: #666;
    margin-top: 10px;
    margin-left: 280px;
    border:2px solid #000;
}
#rendeles a{
    text-decoration: none;
    color: white;
}
/*Profil*/
#profilom{
    margin-left: 550px;
    font-size: 50px;
    margin-bottom: 100px;
}
#cegadat{
    font-size: 30px;
    margin: 30px;
}
#adat{
    width: 400px;
    height: 35px;
    background-color: lightgray;
    float: right;
    margin-right: 700px;
    border: 2px solid black;
    margin-top: 0px;
    
}
#adattartalom{
    margin-left: 5px;
    margin-top: 10px;
}
/*Sikeres megrendelés*/
#sikeresrendeles_1{
    font-size: 50px;
    text-align: center;
    width: 600px;
    margin-left: 350px;
}
#sikeresrendeles_2{
    font-size: 30px;
    text-align: center;
    width: 600px;
    margin-left: 350px;
    margin-top:20px;
}
#megrendeles{
    width: 600px;
    height: 150px;
    background-color: lightgrey;
    margin-left: 45px;
    border:2px solid #000;
    margin-top: 100px;
    margin-left: 350px;

}
#megrendelesfelsosav{
    width: 600px;
    height: 40px;
    background-color: #666;
    color:white;
    font-size: 30px;
    text-align: center;
}
#megrendelesreszletek{
    width: 600px;
    height: 110px;
    color:black;
    font-size: 30px;
    text-align: center;
}
#rendelesar{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
#renedelesazonosito{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
/*Footer*/
footer{
    background-color: #525356;
    margin: 0px auto;
    padding: 5px;
}
#elerhetoseg{
    font-family: arial,verdana, tahoma, georgia;
    font-size: 20px;
    margin-top: 0px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-left: 0px;
}
#elerhetoseg li{
    float: left;
    margin-left: 0px;
    margin-top: 35px;
}
#elerhetoseg li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
#adatvedelem{
    font-family: arial,verdana, tahoma, georgia;
    font-size: 16px;
    margin-top: 0px;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-left: 0px;
}
#adatvedelem li{
   text-decoration: none;
   padding: 1px;
}
#adatvedelem li a{
    text-decoration: none;
    color: #fff;
}
#adatvedelem li a:hover{
    font-weight: bolder;
}
#adatkezeles{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
    margin: 20px;
    padding: 5px;
    line-height: 140%;
    margin-bottom: 80px;
    
}
#altalanos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
    margin: 20px;
    padding: 5px;
    line-height: 140%;
    margin-bottom: 80px;
}



