.home{
    flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}

.title {
    text-align: center;
}

.welcomeTo{
  text-align: center;
  margin-top: 50px;
  font-weight: 300;
}

.email {
  text-align: center;
  color: rgb(182, 182, 182);
  padding-top: 10px;
}

.button {
  font-size: 16px;
  margin-left: 77vh;
  margin-top: 2vh;
  

  

}